<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bookit.app">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.sampleapplication.bookit.profile.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.sampleapplication.bookit.booking.create.CreateBookingActivity"
            android:label="@string/title_activity_create_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sampleapplication.bookit.booking.SelectStationActivity"
            android:label="@string/title_activity_select_station"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sampleapplication.bookit.booking.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sampleapplication.bookit.booking.BookingSearchActivity"
            android:label="@string/title_activity_booking_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sampleapplication.bookit.history.BookingHistoryActivity"
            android:label="@string/title_activity_booking_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sampleapplication.bookit.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sampleapplication.bookit.connection.ForgetActivity"
            android:label="Forget Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sampleapplication.bookit.connection.RegisterActivity"
            android:label="@string/registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sampleapplication.bookit.connection.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.sampleapplication.bookit.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>